### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [19]:
df=pd.DataFrame(purchase_data)
Unique_Players = df['SN'].nunique()
data_pls = {'Total_Players':[Unique_Players]}
Total_Players_df=pd.DataFrame(data_pls)
Total_Players_df

   Total_Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
Unique_Items=df['Item ID'].nunique()
Average_format=df['Price'].mean()
Avg_Price = str("$"+"{:.2f}".format(Average_format))
Total_purchases=df['Purchase ID'].nunique()
Total_Rev = df['Price'].sum()
Total_Revenue = str("$"+"{:.2f}".format(Total_Rev))

Output = {
  "Number of Unique Items": [Unique_Items],
  "Average Price": [Avg_Price],
    "Number of Purchases": [Total_purchases],
    "Total Revenue": [Total_Revenue]
}
Output_df=pd.DataFrame(Output)
Output_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [21]:
Gender_file = pd.read_csv(file_to_load, usecols = ['SN','Gender'])
List_Players_df = pd.DataFrame(Gender_file)
Total_Unique_Players = List_Players_df.drop_duplicates()
Players_df=pd.DataFrame(Total_Unique_Players)
s=Players_df.Gender
counts=s.value_counts()
percent=s.value_counts(normalize=True)
percent100=s.value_counts(normalize=True).mul(100).round(2).astype(str) +'%'
Output_G_Frame=pd.DataFrame({'Total_Count':counts,'Percentage of Players':percent100})
Output_G_Frame

                       Total_Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
Gender_Analysis = purchase_data.groupby("Gender")
Number_of_Purchases=Gender_Analysis["Purchase ID"].count()
Avg_PPrice= Gender_Analysis["Price"].mean()
Total_Purchase_By_Gender=Gender_Analysis["Price"].sum()

Avg_Total_Purchase_Person=Total_Purchase_By_Gender/counts
Output_Gender_Analysis_df = pd.DataFrame({"Purchase Count": Number_of_Purchases, 
                                    "Average Purchase Price": Avg_PPrice,
                                    "Total Purchase Value":Total_Purchase_By_Gender,
                                    "Avg Total Purchase per Person": Avg_Total_Purchase_Person})

Final_Summary_Output= Output_Gender_Analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})
Output_Gender_Analysis_df.index.name ="Gender"
Final_Summary_Output

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
# Bins are   
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,49.99]

# Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Summary"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
By_Age = purchase_data.groupby("Age Summary")

Count_Age= By_Age["SN"].nunique()
Percentage_Age=(Count_Age/Unique_Players)*100

Age_df=pd.DataFrame(({'Total_Count':Count_Age,'Percentage of Players':Percentage_Age}))
Output_Age= Age_df.style.format({"Percentage of Players":"{:,.2f}%"})
                                
Output_Age.index.name =""

Output_Age

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
# Bins are   
Purchase_count=By_Age["Purchase ID"].count()

Avg_PPrice_By_Age= By_Age["Price"].mean()
Total_Purchase_By_Age=By_Age["Price"].sum()
Avg_Total_Purchase_Person_By_Age=Total_Purchase_By_Age/Count_Age

Output_Age_Analysis_df = pd.DataFrame({"Purchase Count": Purchase_count, 
                                    "Average Purchase Price": Avg_PPrice_By_Age,
                                    "Total Purchase Value":Total_Purchase_By_Age,
                                    "Avg Total Purchase per Person": Avg_Total_Purchase_Person_By_Age})

Final_Summary_Output_Age= Output_Age_Analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})
Output_Age_Analysis_df.index.name ="Age Ranges"
Final_Summary_Output_Age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
By_Player = purchase_data.groupby("SN")
Purchase_count_By_Player=By_Player["Purchase ID"].count()

Avg_Purchase_Price_By_Player= By_Player["Price"].mean()

Total_Purchase_By_Player=By_Player["Price"].sum()
Output_Spender_Analysis_df = pd.DataFrame({"Purchase Count": Purchase_count_By_Player, 
                                    "Average Purchase Price": Avg_Purchase_Price_By_Player,
                                    "Total Purchase Value":Total_Purchase_By_Player})
Output_Spender_Analysis_df.index.name ="SN"
Final_Summary_Output_Player=Output_Spender_Analysis_df.sort_values(["Total Purchase Value"],ascending=False).head()
Final_Summary_Output_Player.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
MPI=purchase_data[["Item ID","Item Name","Price"]]
By_Item=purchase_data.groupby(["Item ID", "Item Name"])
Purchase_count_By_Item=By_Item["Price"].count()

Total_Purchase_By_Item=By_Item["Price"].sum()


Avg_Purchase_Price_By_Item= Total_Purchase_By_Item/Purchase_count_By_Item


Total_Purchase_By_Item=By_Item["Price"].sum()

Output_Item_Analysis_df = pd.DataFrame({"Purchase Count": Purchase_count_By_Item, 
                                    "Average Purchase Price": Avg_Purchase_Price_By_Item,
                                    "Total Purchase Value":Total_Purchase_By_Item})

Final_Summary_Output_Item=Output_Item_Analysis_df.sort_values(["Purchase Count"],ascending=False).head()

Final_Summary_Output_Item.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [27]:
Final_Summary_Output_Item=Output_Item_Analysis_df.sort_values(["Total Purchase Value"],ascending=False).head()
Final_Summary_Output_Item.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}"})